<div class = "row mb-2">
    <div class = "col-4">
        <a class = "configuration-step-link theme-step" href="/Admin/Setting/GeneralCommon?showtour=True">
    
        <div class = "row">
            <div class = "col-12 col-x1-3">
                <div class = "configuration-step-icon">
                    <i class = "fas fa-pencil-alt">
                       
                    </i>
                </div>
            </div>
            <div class = "col-12 col-x1-9">
                <h5>
                    1. &nbsp; Personalize your store 
                    <small class = "text-muted">Choose a beautiful theme for your store and add your logo
                        
                    </small>
                </h5>
            </div>
        </div>
        </a>
    </div>
</div>