
<body>
<h2 style = "text-align: center;">Home</h2>
<main>
    <div class = "contain">
       
        <div class = "text">
            ชื่อ-นามสกุล: ปีเตอร์<br>
            อายุ: 21 ปี 
            อาชีพ: นักศึกษา มหาวิทยาลัยราชมงคลกรุงเทพ<br>
            คณะ: วิทยาศาสตร์และเทคโนโลยี <br>
            สาขา: วิทยาการคอมพิวเตอร์ <br>
            email: the_boy_fail@hotmail.com<br>
            description: 
            พึ้งจบปี 2 ครับ ตอนนี้ปิดเทอมกำลังสนใจด้าน front-end <div [class.hide] = "click">ครับตอนนี้กำลังเรียนรู้ในช่วงปิดเทอม และอยากหาความรู้จากประสบการณ์จริงครับ 
            <br><button (click) = "doSomething()">{{more}}</button>
        </div>
        </div>
         <div class = "pic">
             <br>
            <img src = "assets/sweeblog.jpg"/>
        </div>
    </div>
</main>
</body>