
<div class ="new-block">
    <div class = "new-title">
    NopCommerce News
    </div>
   
    <div class = "new-col">
    <div class = "new-col-title">
        "Powered by nopCommerce" link"
</div>
<div class = "new-col-content">
Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer? Click here for more info.
</div>
</div>
&nbsp;
<div class = "new-col">
    <div class = "new-col-title">
        Premium support services
</div>
<div class = "new-col-content">
Get dedicated support from the nopCommerce team with a guaranteed response within 24 hours. Click here for more info.
</div>
</div>
&nbsp;
<div class = "new-col">
    <div class = "new-col-title">
        Recommended hosting for your store
</div>
<div class = "new-col-content">
Everleap cloud hosting seamlessly scales sites with ease and they move stores for free. Learn more and get a 30 day free trial.
</div>
</div>
</div>

